on: [push]
name: CI
jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    container:
      image: eclipse-temurin:11.0.23_9-jdk-jammy@sha256:f222d1e1d705cd9f66a6ece7ebde97c04da2fe8628cf9c8f606f77fecf0bd97d
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - run: ./gradlew buildSrc:build clean build
